* {
	background: #d0d0d0;
}

.invisible {
	color: #d0d0d0;
}

.top-menu {
	/* position: fixed; */
	position: absolute;
	top: 4pt;
	left: 50%;
	transform: translateX(-50%);
	color: #555555;
	background: silver;
	box-shadow: 0 0 2pt 2pt grey;
	border-radius: 4pt;
	padding: 2pt;
	padding-right: 4pt;
	padding-left: 5pt;
	font-weight: bold;
}

img {
	box-shadow: 0 0 1pt 0pt grey;
	border-radius: 4pt;
}

.top-menu a, .top-menu * {
	padding: 2pt;
	color: #555555;
	background: silver;
	text-decoration: none; /* No underline */
}

a {
	color: #333333 !important;
	font-weight: bold;
}

strong, #toctitle, div.title, caption.title {
	color: #333333 !important;
	font-weight: bold;
}

em {
	font-style: italic;
	color: #222222 !important;
}

div.admonitionblock, dt {
	color: #222222 !important;
}

h1, h2, h3, h4, h5, h6 {
	color: #222222 !important;
}

.monospaced, code, pre {
	color: #333333 !important;
}
